
.content {
    /* display: flex; */
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    width: 100%;}

.list {

    list-style: none;
    width: 100%;
    padding: 0px;
}
.item {
    /* border: 1px solid black; */
    width: auto;
    margin: 2% 0%;
    padding: 1%;
    list-style: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

.item span {
        text-transform: capitalize;
        background-color: rgba(255, 0, 0, 0.363);
        padding: 0.1em;
        border-radius: 2px;
}
