

.search input{
    width: 70%;
    height: 2em;
}
.search label img {
    height: 1.5em;


}
.search {
    margin: 0 0 0 0 ;
    display: flex;
    width: 50%;
}

.filters {
    margin: 0 0 0 0 ;
    justify-content: flex-end;
    display: flex;
    width: 50%;

}

